<%- include ('../partials/boilerPlate')  %>

<!-- CSS -->
<link rel="stylesheet" href="/css/auth.css">

<%- include ('../partials/header')  %>

<%- include ('../partials/nav')  %>

<form action="/<%= namePage  %>" id="auth-form" method="post">
    <legend class="auth">
        Connexion
    </legend>
    <label class="auth" for="first_name">First name</label>
    <input type="text" id="first_name" name="first_name" placeholder="First name">
    <label class="auth" for="last_name">Last name</label>
    <input type="text" id="last_name" name="last_name" placeholder="Last name">
    <label class="auth" for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="pseudo" placeholder="Pseudo">
    <label class="auth" for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password">

    <button type="submit" class="btn sign-in">Sign in</button>

</form>

<%- include ('../partials/footer')  %>