<%- include ('../partials/boilerPlate')  %>

<%- include ('../partials/header')  %>

<%- include ('../partials/nav')  %>

<!-- <h3 class="welcome-user"> HELLO <%=// user %> !</h3> -->

<%- include ('../partials/buttons')  %>

<%- include ('../partials/footer')  %>