<%- include ('../partials/boilerPlate')  %>

<%- include ('../partials/header')  %>

<%- include ('../partials/nav')  %>

<h3 class="welcome-user" style="font-size: 3rem;"> HELLO <%= user %> !</h3>

<%- include ('../partials/buttons')  %>

<%- include ('../partials/footer')  %>