<%- include ('../partials/boilerPlate')  %>

<!-- CSS -->
<link rel="stylesheet" href="/css/signin.css">

<%- include ('../partials/header')  %>

<%- include ('../partials/nav')  %>

<form action="/<%= namePage  %>" id="signin-form" method="post">
    <legend class="signin">
        Sign in
    </legend>

    <% for(let element in allInputNames){ %>

    <label  for="<%= element %>"><%= allInputNames[element] %> </label>
    <input type="text" id="<%= element  %>" name="<%= element  %>" placeholder="<%= allInputNames[element]  %>"
        required="required">
    <% } %>

    <button type="submit" class="btn sign-in">Submit</button>

</form>

<%- include ('../partials/footer')  %>